.country-page {
    padding: $padding-containers;
}

.country-page-sub-container {
    @include max-width-centered();
}

//Back button
.country-page-back-btn {
    @include max-width-centered();
    @include button-styling();
    margin-left: 0;
    background-color: $color-dt-bright;
    margin: 20px 0 30px 0;
}

//Main Text Container
.country-page-main {
}

//Flag Image
.country-page-main-image {
    display: block;
    width: 100%;
}

//Text
.country-page-main-info {
}
.country-page-main-info-line-name {
    font-size: 40px;
    margin: 30px 0;
}
.country-page-main-info-line {
    margin: 15px 0;
}

//Bordering Countries
.country-page-main-info-neighbors {
}

.country-page-main-info-neighbors-link {
    @include button-styling();
    margin-left: 0;
    margin-right: 20px;
    &:hover {
        background-color: darken($color-call-to-action, 20);
    }
}

.country-page-main-info-neighbors-label {
    display: block;
}

@media (min-width: 1000px) {
    .country-page-main-image {
        width: 50%;
        margin-right: 100px;
        height: auto;
    }
    .country-page-main {
        display: flex;
        justify-content: flex-start;
    }

    .country-page-main {
        display: flex;
        align-items: flex-start;
    }
}
