* {
    color: $color-dt-white-text;
    font-family: $font-main;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: $color-dt-html-bg;
    position: relative;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
