.search-area {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


//Search bar 
.search-area-search-bar {

}

//Search Region 
.search-area-region-menu-label {

}

.search-area-region-menu {

}

.search-area-region-menu-option {
    
}