.search-area {
    height: 80px;
    padding: $padding-containers;
}

.search-area-sub-container {
    @include flex-space-between-centered();
    @include max-width-centered();
}
//Search bar
.search-area-search-bar {
    @include search-area-input();
}

//Search Region
.search-area-region-menu-label {
    font-weight: bold;
    margin-right: 10px;
}

.search-area-region-menu {
    @include search-area-input();
}

.search-area-region-menu-option {
    color: $color-dt-black-text;
}
