//Mixin
@mixin set-theme($theme) {
    background-color: color-html-bg($theme);
    color: color-search-text($theme);

    a {
        color: color-search-text($theme);
    }

    .top-bar {
        border-bottom: 1px solid color-divider($theme);
    }

    .search-area-region-menu-option {
        color: $color-search-area-text;
    }

    .top-bar,
    .country-card {
        background-color: color-topbar-card-bg($theme);
    }

    .country-card-btn,
    .country-page-back-btn,
    .country-page-main-info-neighbors-link {
        color: $color-button-text;
        background-color: color-call-to-action-bg($theme);
        &:hover {
            background-color: darken(color-call-to-action-bg($theme), 10);
        }
    }
}

//All colors will be established here
.dark-themed {
    @include set-theme("dark");
}

.light-themed {
    @include set-theme("light");

    .country-card,
    .search-area-search-bar,
    .search-area-region-menu {
        border: 1px solid $color-lt-border-divider;
    }
}
