//All colors will be established here
.dark-themed {
    background-color: color-html-bg("dark");
    color: color-search-text("dark");

    a {
        color: color-search-text("dark");
    }

    .top-bar {
        border-bottom: 1px solid color-divider("dark");
    }

    .search-area-region-menu-option {
        color: $color-search-area-text;
    }

    .top-bar,
    .country-card {
        background-color: color-topbar-card-bg("dark");
    }

    .country-card-btn,
    .country-page-back-btn,
    .country-page-main-info-neighbors-link {
        color: $color-button-text;
        background-color: color-call-to-action-bg("dark");
        &:hover {
            background-color: darken(color-call-to-action-bg("dark"), 10);
        }
    }
}

.light-themed {
    background-color: color-html-bg("light");
    color: color-search-text("light");

    a {
        color: color-search-text("light");
    }

    .top-bar {
        border-bottom: 1px solid color-divider("light");
    }

    .search-area-region-menu-option {
        color: $color-search-area-text;
    }

    .top-bar,
    .country-card {
        background-color: color-topbar-card-bg("light");
    }

    .country-card,
    .search-area-search-bar,
    .search-area-region-menu {
        border: 1px solid $color-lt-border-divider;
    }

    .country-card-btn,
    .country-page-back-btn,
    .country-page-main-info-neighbors-link {
        color: $color-button-text;
        background-color: color-call-to-action-bg("light");
        &:hover {
            background-color: darken(color-call-to-action-bg("light"), 10);
        }
    }
}
