.top-bar {
    height: 80px;
    padding: $padding-containers;
    background-color: $color-dt-bright;
}

.top-bar-sub-container {
    @include flex-space-between-centered();
    @include max-width-centered();
}

.top-bar-title {
}

.top-bar-theme-toggler {
}

#top-bar-theme-checkbox {
}
