.top-bar {
    height: 80px;
    padding: $padding-containers;
    background-color: $color-dt-bright;
}

.top-bar-sub-container {
    @include flex-space-between-centered();
    @include max-width-centered();
}

.no-decoration {
    text-decoration: none;
}

.top-bar-title {
    text-decoration: none;
    &:hover {
        transform: scale(1.05);
    }
}

.top-bar-theme-toggler {
}

#top-bar-theme-checkbox {
}
